.body {
  background-color: #f1f4f6;
}

.container-fluid {
  height: 80px;
  background-color: #29b6ff;
}

.top-menu {
  height: 60px;
}

.logo {
  height: 30px;
  float: left;
}

.nav>li>a:focus,
.nav>li>a:hover {
  text-decoration: none;
  background-color: transparent !important;
}

.navbar-inverse {
  border-color: transparent !important;
  background-color: transparent !important;
}

.navbar-inverse:hover,
.navbar-inverse:focus {
  border-color: transparent !important;
  background-color: transparent !important;
}

.nav.navbar-nav.navbar-right li a {
  color: #ffffff;
  background-color: #29b6ff;
}

.cilia-logo {
  height: 35px;
  margin-top: 19px;
}

.navbar-collapse {
  background-color: #29b6ff;
}

.dropdown .dropdown-menu {
  background-color:#ffffff;
  }

.dropdown-menu-link {
  color: black;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
}

.navbar-brand {
  margin-top: 14px;
  color: #ffffff;
}

.glyphicon-menu-hamburger {
  color: #ffffff;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  background-color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.blue-logo {
  height: 30px;
  margin-left: 13%;
  margin-bottom: 15%;
}

.user-location {
  margin-left: 20px;
}

.title-menus-down {
  font-size: 30px;
}

.volks-logo {
  height: 40px;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 50%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

.footer,
.push {
  height: 50px;
}